body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}
.tema{
    width:100%;
}

.mcd{
    height: 250px;
}

.mcm{
    height: 250px;
}

.comb{
    height: 250px;
    width: 300px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

.tema {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.tema img {
    max-width: 30%;
    border: 1px solid #ddd;
    padding: 5px;
}

ul {
    list-style-type: decimal;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    bottom: 0;
    width: 100%;
}